<h1>Pipes in Angular</h1>
<div>
  <h3>Currency Pipe</h3>
  <div>Amount: {{amount | currency}}</div>
  <div>Amount: {{amount | currency: 'INR'}}</div>
  <div>Amount: {{amount | currency: 'EUR'}}</div>
</div>

<div>
  <h3>Case Pipes</h3>
  <div>Please subscribe to {{channelName | lowercase}}</div>
  <div>Please subscribe to {{channelName | uppercase}}</div>
  <div>Please subscribe to {{channelName | titlecase}}</div>
</div>

<div>
  <h3>percent pipe</h3>
  <div>mark {{mark | percent}}</div>
</div>

<div>
  <h3>date pipe</h3>
  <div>today's day is {{today | date}}</div>
  <div>today's day is {{today | date: 'MM-dd-yyyy'}}</div>
</div>

<div>
  <h3>Custum Pipe</h3>
  <!-- We generated the custom pipe from Angular CLI with ng g p pipe-name 
  then we modified the transform method of the pipe -->
  <div>{{name | initials}}</div>
</div>